* {
  margin: 0%;
  padding: 0%;
}

.container {
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 18vw;
  background-color: rgb(46, 151, 243);
  display: grid;
  grid-template-columns: 1fr;
}

.bottom-left {
  margin-top: 50px;
}

.top-left > li > button {
  display: grid;
  grid-template-columns: 0.2fr 1fr;

  width: 100%;
  margin-top: 5px;
  text-align: left;
  font-size: 1.2em;
  background-color: rgb(46, 151, 243);
  border: none;
  cursor: pointer;
}

.bottom-left > li > button {
  display: grid;

  grid-template-columns: 0.2fr 1fr;
  width: 100%;
  margin-top: 5px;
  text-align: left;
  font-size: 1.2em;
  background-color: rgb(46, 151, 243);
  border: none;
  cursor: pointer;
}

.top-bar {
  width: 80vw;
  height: 15vh;
}

.content {
}

li {
  list-style-type: none;
  padding-left: 15px;
}

li > button:hover {
  background-color: rgb(110, 182, 245);
}

.top-left > h1 {
    font-weight: 800;
  font-size: 2.7em;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

a {
    font-weight: 300;
  color: black;
  margin-top: 8px;
  text-align: left;
  text-decoration: none;
}
